{#
| Variable                      | Type      | Description                                                         |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     | shared variable in all layout, index.twig, and all components views |
| items[].title1                | string    | Section title                                                       |
| items[].title2                | string    | Alias for title                                                     |
| items[].title3                | string    | category,most_sales,latest_products,chosen_products                 |
| items[].bg_image              | Product   |                                                                     |
| items[].big_image             | string    | Product string id                                                   |
| items[].small_image           | string    | Product Name                                                        |                            |
#}
<div class="h-screen " style="background-image: url('{{ component.bg_image }}');">
	<div class="container  text-right">
		{% for item in component.items %}
			{% if loop.first %}
				<div class="flex {{loop.index}}_data sliderUpData" data-id="{{loop.index}}">
					<div class="text ">
						<p class="title1">{{item.title1}}</p>
						<p class="title2">{{item.title2}}</p>
						<p class="title3">{{item.title3}}</p>
						<a class="btn mb-2 w-80" id="link">shop now</a>
					</div>
					<div class="image  ">
						<img src="{{item.big_image}}">
					</div>
				</div>
			{% else %}
				<div class="flex {{loop.index}}_data sliderUpData hiddenData" data-id="{{loop.index}}">
					<div class="text  ">
						<p class="title1">{{item.title1}}</p>
						<p class="title2">{{item.title2}}</p>
						<p class="title3">{{item.title3}}</p>
						<a class="btn mb-2 w-80" id="link">{{item.button_title}}</a>
					</div>
					<div class="image ">
						<img src="{{item.big_image}}">
					</div>
				</div>
			{% endif %}

		{% endfor %}
	</div>
</div>
<div class="h-80  text-right bottomDivSlider">
	<div class="responsive">
		{% for item in component.items %}

			<div class="imageSlider">
				{# <div class="hi cursor-pointer text-fuchsia-200">aya
				</div> #}
				<img src="{{item.small_image}}" class="contentChange" id="name" data-content="{{loop.index}}">
			</div>
		{% endfor %}
	</div>

</div>

<script>
	$(document).ready(function () {


});
</script>
