{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="store-header">
	{# Top Nav #}


	{# Main Nav #}
		<div id="mainnav" class="main-nav-container shadow-default bg-white"> <div class="inner bg-inherit">
			<div class="container-fluid ">
				<div class="flex items-stretch justify-between relative">
					<div class="flex items-center">
						<a class="lg:hidden mburger mburger--collapse leading-none" href="#mobile-menu">
							<i class="sicon-menu text-primary text-2xl rtl:ml-2.5 ltr:mr-2.5"></i>
						</a>
						<a class="navbar-brand" href="{{ store.url }}">
							<img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }}">
							{% if is_page('index') %}
								<h1 class="sr-only">{{ store.name }}</h1>
							{% else %}
								<h2 class="sr-only">{{ store.name }}</h2>
							{% endif %}
						</a>
						{% if user.type=='user' %}
							<salla-user-menu hello first-name show-header relative-dropdown></salla-user-menu>
						{% else %}
							<button class="header-btn" onclick="salla.event.dispatch('login::open')">
								<p class="font-bold" style="font-size:12px">تسجيل الدخول</p>
							</button>
						{% endif %}
						{% component 'header.menu' %}
					</div>
					<div class="flex items-center justify-end">
						<div class="search " style="">
							<salla-search inline="true" height="40"></salla-search>
						</div>
						<salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
							<i slot="icon" class="fa-solid fa-cart-shopping shopping-cart"></i>
						</salla-cart-summary>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% if store.scope %}
	<salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
